body {
    height: 3500px;
    margin: 0;
    padding: 0;
    display: flex;
    
}

nav {
    height: 120px;
    width: 100%;
    background-color: #5B7FFF;
    position: fixed;
    z-index: 1;
}

nav li:hover {
    color: rgb(201, 209, 252);
    transition: 0.5s;
}

main {
    margin-top: 200px;
    margin-left: 70px;
    position: absolute;
}

footer {
    width: 100%;
    height: 200px;
    background-color:#5B7FFF ;
    margin-top: auto;
}

.resultados {
    margin-top: 100px;
    
}

.resultados h1 {
    margin-bottom: 20px;
}

.referencias {
    margin-top: 100px;

}

.autores {
    margin-top: 100px;
}

.subtitulos {
    font-size: 300%;
    color: #5B7FFF;
    font-weight: 700;
}


.graficos {
    margin-top: 100px;
    display: flex;    

}



.graficos span {
    color: red;
}



.container-titles {
   margin-left: 50px;
   margin-top: 10px;
}



.titulo {
    color: white;
    font-size: 25px;
    font-weight: 700;
    display: flex;
}

nav span {
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 40px;
  

}

nav li {
    cursor: pointer;
    transition: 0.5s;
}

nav a {
    text-decoration: none;
    color: white;
}


.sub-nav {
    display: flex;
    margin-left: 60%;
    justify-content: center;
    background-color: blue;
    width: 590px;
    height: 48px;
}


.introducao p {
    width: 93%;
    font-size: 150%;
    text-align: justify-all;
}



.container {
    background-color: blue;
    width: 200px;
}


footer p {
    color: white;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 20px;
}

footer img {
    display: flex;
    justify-content: start;
    width: 300px;
    margin-top: 60px;
    margin-left: 20px;
}

.custom-container {
    background-color: rgb(245, 245, 245); 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
 
    
}

.texto-grafico-1 p {
    width: 480px    ;
}



.graficos img {
    width: 100%;
    height: 300px;
}


.referencias .card {
    margin-top: 30px;
}

.card-text {
    font-size: 150%;
}

.resultados p {
    width: 93%;
    font-size: 150%;
    text-align: justify-all;
}


.autores ul {

    
    list-style: none;
    gap: 150px;
}

.autores li {
    font-size: 30px;
    margin-top: 20px;
}


.colunas {
    display: flex;
    margin-left: -30px;
}

.coluna-1 {
    display: flex;
    position: absolute;
}

.coluna-2 {
    display: flex;
    position: absolute;
    margin-left: 40%;
}


.autores img {
    
    width: 50px;
    margin-right: 15px;
}


